.scrollerjs-bar {
  position: absolute;
  opacity: 0;

  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}

.scrollerjs-bar-flashing {
  opacity: 1;
}

.scrollerjs-vertical-bar {
  width: 12px;
  height: 100%;
}

.scrollerjs-horizontal-bar {
  width: 100%;
  height: 12px;
}

.scrollerjs-thumb {
  position: absolute;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

.scrollerjs-horizontal-thumb {
  height: 8px;
  transition: height 0.5s ease, border-radius 0.5s ease;
  -webkit-transition: height 0.5s ease, border-radius 0.5s ease;
}

.scrollerjs-vertical-thumb {
  width: 8px;
  transition: width 0.5s ease, border-radius 0.5s ease;
  -webkit-transition: width 0.5s ease, border-radius 0.5s ease;
}

.scrollerjs-bar:hover {
  opacity: 1;
}

.scrollerjs-bar:hover > .scrollerjs-thumb {
  border-radius: 6px;
}

.scrollerjs-bar:hover > .scrollerjs-horizontal-thumb {
  height: 12px;
}

.scrollerjs-bar:hover > .scrollerjs-vertical-thumb {
  width: 12px;
}

.scrollerjs-left-bar, .scrollerjs-top-bar {
  top: 0;
  left: 0;
}

.scrollerjs-right-bar, .scrollerjs-bottom-bar {
  right: 0;
  bottom: 0;
}

.scrollerjs-bottom-thumb {
  bottom: 0;
}

.scrollerjs-right-thumb {
  right: 0;
}
